apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: contract-guard-db
  namespace: contract-guard
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: standard
